@charset "UTF-8";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.container2 {
  position: relative;
  left : 5%;
  overflow: hidden;
  /* width: 1033px;   */
  height:auto;
  margin: 130px;
  background-color: #ffffff;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  margin-left: auto;
}
 .container2 .half {
  float: center;
  width: 80%;
  height: auto;
  margin-left: 10%;
  padding: 0px 40px 0;
}
.container2 .half.bg {
  background-image: url("http://www.blueb.co.kr/SRC2/_image/v01.jpg");
  background-size: 400px;
  background-repeat: no-repeat;
}
.container2 h1 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom:45px;
  text-align: center;
  text-indent: 4px;
  margin-top:68px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #263238;
}
.container2 .tabs {
    width: 100%;
    margin-bottom: 29px;
    border-bottom: 1px solid #d9d9d9;
    margin-top: 0%;
}

.container2 .tabs #newtabs {
   width: 100%;
   margin-bottom: 21px;
   border-bottom: 1px solid #d9d9d9;
   margin-top: -26%;
}
.container2 .tabs .tab {
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 44%;
  padding: 20px 15px 10px;
  cursor: pointer;
  letter-spacing: 0;
  border-bottom: 1px solid #d9d9d9;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.1s ease-in-out;
}
 .container2 .tabs .tab a {
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  color: #d9d9d9;
  transition: all 0.1s ease-in-out;
}
 .container2 .tabs .tab.active a, body .container .tabs .tab:hover a {
  color: #263238;
}
 .container2 .tabs .tab.active {
  border-bottom: 1px solid #263238;
}
 .container2 .content form {
  position: relative;
  height: 287px;
}
 .container2 .content label:first-of-type, body .container .content input:first-of-type, body .container .content .more:first-of-type {
  -moz-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
  -webkit-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
}
 .container2 .content label:nth-of-type(2), body .container .content input:nth-of-type(2), body .container .content .more:nth-of-type(2) {
  -moz-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
  -webkit-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
}
 .container2 .content label:nth-of-type(3), body .container .content input:nth-of-type(3), body .container .content .more:nth-of-type(3) {
  -moz-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
  -webkit-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
}
 .container2 .content label {
  font-size: 12px;
  color: #263238;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
 .container2 .content label:not([for='remember']) {
  display: none;
}
 .container2 .content input.inpt {
  font-size: 13px;
  display: block;
  width: 100%;
  height: 41px;
  margin-bottom: 18px;
  padding: 8px 17px;
  color: #999999;
  border: 1px solid #d9d9d9;
  background: transparent;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 42px;
}
 .container2 .content input.inpt::-webkit-input-placeholder {
  font-size: 14px;
  color: #999999;
  font-family: 'Lato', sans-serif;
}
 .container2 .content input.inpt:-moz-placeholder {
  font-size: 14px;
  color: #999999;
  font-family: 'Lato', sans-serif;
}
 .container2 .content input.inpt::-moz-placeholder {
  font-size: 14px;
  color: #999999;
  font-family: 'Lato', sans-serif;
}
 .container2 .content input.inpt:-ms-input-placeholder {
  font-size: 14px;
  color: #999999;
  font-family: 'Lato', sans-serif;
}
 .container2 .content input.inpt:focus {
  border-color: #999999;
 }



 .container2 .content input.submit:hover {
  background-color: #263238;
  color: #ffffff;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
 .container2 .content input:focus {
  outline: none;
}
 .container2 .content .checkbox {
  margin-top: 4px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  margin: 17px -1px;
  padding: 0;
  border: 0;
}
 .container2 .content .checkbox + label {
  vertical-align: middle;
  display: inline-block;
  width: 50%;
}
 .container2 .content .checkbox + label:before {
  content: "\A";
  color: #999999;
  font-family: Verdana;
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: transparent;
  border: 1px solid #d9d9d9;
  width: 11px;
  height: 11px;
  margin: -2px 8px 0 0;
}
 .container2 .content .checkbox:checked + label:before {
  content: "✓";
}
 .container2 .content .submit-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  top: 145%;
}
 .container2 .content .submit-wrap a {
  font-size: 12px;
  display: block;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: #999999;
}
 .container2 .content .submit-wrap a:hover {
  text-decoration: underline;
}
 .container2 .content .signup-cont {
  display: none;
}


.submit {
  display : inline-block;
  position: relative;
  top : 230px;
  width:420px;
}

.bt_wrap {
  position: relative;
  top : 25px;
  text-align: center;
}

.mbtiContainer {
  font-size: 13px;
    display: block;
    width: 100%;
    height: 41px;
    margin-bottom: 18px;
    padding: 8px 17px;
    color: #999999;
    border: 1px solid #d9d9d9;
    background: transparent;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: transparent;
    border-radius: 42px;
}

 #sidetitle {
  font-size: 13px;
  display: block;
  width: 100%;
  height: 41px;
  margin-bottom: 18px;
  padding: 8px 17px;
  color: #999999;
  border: 1px solid #d9d9d9;
  background: transparent;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 42px;
 }

.mbti-e{
  width: 300px;
  margin:auto;
  width:fit-content;
  display: block;
  border-radius: 100%;
}
.mbti-i{
  width: 300px;
  margin:auto;
  width:fit-content;
  display: block;
}

.s-button {
    padding: 10px 10px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
}

.r-button {
	line-height: 3px;
}
.p-button {
	line-height: 3px;
}


#sub {
	padding-bottom: 30px;
}


/* 파일 스타일 조정 */
.image_div {
	display: block;
}

#image_container {
    text-align: center;	
}

.btn-2 {
	line-height: 3px; 
	text-align: center;
	font-size: 0.7rem;
	height: 30px;
	padding: 15px;
}


